.font-rale{
    font-family: "Raleway", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

hr{
    border-top: 1px dashed #03071233;
    padding-top: 10px;
}

footer hr{
    border-top: 1px dashed white;
}